<h1>Home Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>
	This is the home page for a cool site. I like <a href="http://www.google.com">Google</a>.
</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>